* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

html{
    scroll-behavior: smooth;
}

header{
    width: 100%;
    min-height: auto;
    padding: 1rem 2rem 1rem 5rem;
    /* background-color: rgba(0, 204, 255, 0.685); */
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}

.btn-outline-success {
  border: 2px solid black;
  color: black;
}

.logo {
  width: 5rem;
  height: 4rem;
}

.usuario {
  width: 2.5rem;
}

main {
  width: 100%;
  min-height: auto;
  padding-top: 6rem;
  /* background-color: rgba(13, 134, 13, 0.911); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.intro {
  width: 100%;
  min-height: auto;
  margin-bottom: 2rem;
  /* background-color: aquamarine; */
  display: flex;
  flex-wrap: wrap;
}

.carousel {
  width: 73rem;
  height: 70vh;
  display: flex;
}

.nombre {
  width: 45rem;
  height: auto;
  background-color: #e8e9eb;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.nombrepag {
  font-size: 5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}

.container {
  width: 45rem;
  height: 37rem;
  min-width: auto;
  margin: 0.5rem;
  background-color: #ef6461;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.minilogos {
  width: 8rem;
  height: 7rem;
}

.containerimg {
  width: 45rem;
  min-height: auto;
  margin: 0.5rem;
  background-color: rgb(255, 255, 255);
  color: black;
}

.imgindex {
  width: 45rem;
  height: 37rem;
}

footer {
  width: 100%;
  min-height: 20rem;
  background-color: rgba(153, 95, 9, 0.623);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilos pagina Farmacia y Juguetes */

.titulo {
  width: 60%;
  min-height: 10rem;
  margin-top: 4.1rem;
  /* background-color: rgba(139, 27, 27, 0.637); */
  color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.divbuscar {
  width: 90%;
  margin-top: 3rem;
  /* background-color: aqua; */
  display: flex;
  justify-content: end;
}

.tarjetas {
  width: 60%;
  min-height: 80rem;
  margin-top: 1rem;
  background-color: rgba(139, 27, 27, 0.637);
  display: flex;
  justify-content: center;
  color: black;
}

/* Estilos pagina de Contacto */
