/* Fuentes:  */
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pragati+Narrow&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  min-height: auto;
  padding: 1rem 2rem 1rem 3rem;
  /* background-color: rgba(0, 204, 255, 0.685); */
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}

.encabezado {
  display: flex;
  align-items: center;
  font-family: "Prompt", sans-serif;
  letter-spacing: 4px;
  text-decoration: none;
  color: black;
}

.encabezado:hover {
  color: #cf7124;
}

.encabezado h3 {
  margin-left: 0.7rem;
  margin-top: 0.9rem;
}

nav {
  font-family: "Rubik", sans-serif;
}

nav a:hover {
  transition: 300ms;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

.btn-outline-success {
  border: 2px solid black;
  color: black;
}

.logo {
  width: 5rem;
  height: 4rem;
}

.usuario {
  width: 2rem;
}

.dropdown-menu[data-bs-popper] {
  width: 16rem;
  top: 100%;
  left: -250%;
  font-family: "Pragati Narrow", sans-serif;
  font-size: 1.15rem;
}

main {
  width: 100%;
  min-height: auto;
  padding-top: 6rem;
  /* background-color: rgba(13, 134, 13, 0.911); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.intro {
  width: 100%;
  min-height: auto;
  margin-bottom: 2rem;
  /* background-color: aquamarine; */
  display: flex;
  flex-wrap: wrap;
}

.carousel {
  width: 60%;
  height: 70vh;
  display: flex;
}

.schnauzer {
  object-position: 0 -10rem;
}

.nombre {
  width: 40%;
  height: auto;
  background-color: #e8e9eb;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: "Prompt", sans-serif;
  letter-spacing: 4px;
}

.cursiva {
  font-size: 6rem;
  font-family: "Oooh Baby", cursive;
  letter-spacing: 0px;
  color: #cf7124;
}

.nombrepag {
  font-size: 5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}

.container {
  width: 45rem;
  height: 37rem;
  min-width: auto;
  margin: 0.5rem;
  background-color: #ec9b59e7;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Prompt", sans-serif;
  transition: 500ms;
}

.container:hover {
  transform: scale(0.95);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.657);
  color: white;
}

.minilogos {
  width: 8rem;
  height: 7rem;
  margin-bottom: 2rem;
}

.minilogofarmacia {
  width: 20rem;
  height: 10rem;
}

.containerimg {
  width: 45rem;
  min-height: auto;
  margin: 0.5rem;
  background-color: rgb(255, 255, 255);
  color: black;
}

.imgindex {
  width: 45rem;
  height: 37rem;
}

footer {
  width: 100%;
  min-height: 20rem;
  background-color: #e8e9eb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.containerFooter {
  display: flex;
  flex-wrap: wrap;
}

.formulario {
  width: 45.5rem;
  height: 31rem;
  padding: 3rem;
  /* border-right: 0.5px solid black ; */
  /* background-color: #ef6461; */
  display: flex;
  flex-direction: column;
  font-family: "Pragati Narrow", sans-serif;
  font-size: 1.2rem;
}

.informacion {
  width: 45.5rem;
  height: 31rem;
  padding: 3rem 0rem;
  /* border-right: 0.5px solid black ; */
  /* background-color: #ef6461; */
  display: flex;
  flex-direction: column;
  font-family: "Pragati Narrow", sans-serif;
}

.caja1 {
  min-width: auto;
  display: flex;
  flex-wrap: wrap;
  /* background-color: #ef6461; */
}

.caja2 {
  min-width: auto;
  min-height: 11rem;
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: #ef6461; */
}

.cajasinfo {
  width: 13rem;
  height: 15rem;
  line-height: 0.7rem;
  /* border: 3px solid green; */
  margin-left: 1.5rem;
  color: black;
  line-height: 2px;
}

.titulosinfo {
  margin-bottom: 1rem;
  font-family: "Pragati Narrow", sans-serif;
  font-size: 1.2rem;
}

.logos {
  width: 42rem;
  height: 3rem;
  /* border: 3px solid black; */
  margin-left: 1.5rem;
  display: flex;
}

.nombres {
  margin-right: 1rem;
  text-decoration: none;
  color: #cf7124;
}

.nombres:hover {
  color: blue;
}

.nosotros {
  width: 42rem;
  height: 3rem;
  /* border: 3px solid black; */
  margin-left: 1.5rem;
  display: flex;
}

.derechos {
  width: 42rem;
  height: 3rem;
  /* border: 3px solid black; */
  color: black;
  margin-left: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.loguitosredes {
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
}

.cierre {
  line-height: 2px;
}

.cajamenciones {
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color:antiquewhite; */
}

.menciones {
  margin: 0 0 0 0.5rem;
}

.consulta {
  text-align: center;
  /* background-color: aqua; */
  margin-bottom: 1rem;
}

.form-control {
  border: 0.5px solid black;
  background-color: #e8e9eb;
}

.verde {
  border: 0.5px solid green;
}

.enviar {
  border-radius: 0px;
  border: none;
  background-color: black;
  color: white;
  text-decoration: none;
}

.enviar:hover {
  background-color: rgba(0, 0, 0, 0.596);
  color: white;
}

.btn-primary:hover {
  border: 0.1rem solid black;
  background-color: white;
  color: black;
}

textarea {
  max-width: 25rem;
  max-height: 6rem;
}


/* Estilos pagina Farmacia y Juguetes */

.titulo {
  width: 60%;
  min-height: 10rem;
  margin-top: 4.1rem;
  /* background-color: rgba(139, 27, 27, 0.637); */
  color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.containerShop {
  width: 90%;
  max-width: 150ch;
  min-height: 10rem;
  margin-top: 4.1rem;
  /* background-color: rgba(139, 27, 27, 0.637); */
  color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.divbuscar {
  width: 90%;
  margin-top: 3rem;
  /* background-color: aqua; */
  display: flex;
  justify-content: end;
}

.tarjetas {
  width: 60%;
  min-height: 80rem;
  margin-top: 1rem;
  background-color: rgba(224, 44, 44, 0.637);
  display: flex;
  color: black;
}

/* Estilos pagina de Registro */

.registro {
  width: 80%;
  height: 45rem;
  /* background-color: rgba(255, 0, 0, 0.37); */
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedorform {
  width: 25rem;
  height: 22rem;
  background-color: #e8e9eb;
  border-radius: 5px;
  margin-top: 1rem;
}

.faceygoog {
  width: 25rem;
  padding-top: 1rem;
  /* background-color: chartreuse; */
  display: flex;
  justify-content: space-evenly;
}

.botongoog {
  width: 10rem;
  height: 2.5rem;
  background-color: #dd4c39;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.botonface {
  width: 10rem;
  height: 2.5rem;
  background-color: #4167b2;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.botonface p {
  margin-bottom: 0;
}

.botongoog p {
  margin-bottom: 0;
}

.logossesion {
  width: 2rem;
  height: 1.8rem;
  margin-right: 0.5rem;
}

svg {
  width: 1.5rem;
}

.gris {
  border: 1px solid #ec9b59e7;
}

.crearcuenta {
  width: 22rem;
  border-radius: 0px;
  border: none;
  background-color: black;
  color: white;
}

.crearcuenta:hover {
  background-color: rgba(0, 0, 0, 0.596);
  color: white;
}

/* Estilos página de conocenos: */

.conocenos {
  width: 80%;
  min-height: auto;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cajasabout {
  width: 24rem;
  height: 20rem;
  margin: 1rem 3rem;
  padding: 0 3rem;
  /* border: 2px solid green; */
  background-color: #ec9b59e7;
  color: black;
  font-family: "Prompt", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cajasabout:hover {
  transition: 500ms;
  transform: scale(0.95);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.657);
  color: white;
}

.fotofranco {
  width: 24rem;
  height: 20rem;
}

.profesionales {
  width: 100%;
  height: 20rem;
  /* border: 3px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.veterinarios {
  width: 90%;
  min-height: auto;
  /* border: 3px solid green; */
  text-align: center;
  font-family: "Pragati Narrow", sans-serif;
  font-size: 1.5rem;
}

.galeria {
  width: 100%;
  height: 15rem;
  /* border: 3px solid black; */
}

.galeria img {
  width: 16.667%;
  object-fit: cover;
}

/* Estilos modal: */

#modal {
  background-color: rgba(0, 0, 0, 0.616);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  transition: all;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:target {
  visibility: visible;
}

.cookiesContent {
  /* position: fixed;
  top: 12rem;
  right: 0;
  bottom: 0;
  left: 37rem; */
  width: 320px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 20px;
  padding: 30px 30px 70px;
}

.modalCompra {
  height: 2rem;
  border: none;
  background-color: black;
  color: white;
  text-decoration: none;
  margin: 2.15rem 0;
  padding: 0.3rem;
  text-align: center;
}

.modalCompra:hover {
  background-color: rgba(0, 0, 0, 0.596);
  color: white;
}

button.close {
  width: 30px;
  font-size: 20px;
  color: #c0c5cb;
  align-self: flex-end;
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
  text-decoration: none;
}

img {
  width: 82px;
  margin: 0;
}

p {
  margin-bottom: 40px;
  font-size: 18px;
}
button.accept {
  background-color: #ed6755;
  border: none;
  border-radius: 5px;
  width: 200px;
  padding: 14px;
  font-size: 16px;
  color: white;
  box-shadow: 0px 6px 18px -5px rgba(237, 103, 85, 1);
}

/* Tarjeta de detalles: */

.tarjetadetalles {
  width: 50rem;
  height: 25rem;
  border: 1px solid black;
  background-color: #e8e9eb;
  font-family: "Prompt", sans-serif;
  display: flex;
}

.detallesid {
  width: 50%;
  padding: 1rem 0;
  padding: 1rem 1rem;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
}

.nameid {
  /* background-color: beige; */
  display: flex;
  text-align: center;
}

.descriptionid {
  font-size: 2vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.textoid {
  margin-top: 1rem;
  line-height: 2rem;
  font-size: 1.9vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.imgyprecio {
  width: 50%;
  padding: 1rem 0;
  min-height: auto;
  padding: 1rem 1rem;
  /* background-color: darkcyan; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.imgtarjeta {
  width: 20rem;
  height: 13rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}

.precio {
  /* background-color: rgb(41, 204, 41); */
  padding: 0.5rem 1rem;
  border: 2px solid rgb(59, 57, 201);
  border-radius: 1rem;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.form-select {
  border: 0.5px solid black;
  background-color: #e8e9eb;
}

td img {
  width: 8rem !important;
}

.botonmas {
  border: 0px;
  font-size: 22px;
  background-color: green;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 60px;
}
.botonmenos {
  border: 0px;
  font-size: 22px;
  background-color: red;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  border-radius: 60px;
}
.botonborrar {
  height: 40px;
  border-radius: 20px;
  width: 7rem;
  border: none;
  background-color: orange;
}
.botonmas:hover {
  height: 42px;
  width: 42px;
}
.mover {
  margin-top: 2.5rem;
}
.textomover {
  line-height: 7rem;
}
.botonesfinales {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.botonesfinales button {
  margin: 2rem;
}

.elh1s {
  border-radius: 3rem;
  background-color: red;
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  border: 0px;
  border-radius: 3rem;
  font-size: 1.3rem;
  font-weight: 900;
  margin: 0;
  text-align: center;
}
